/*============== Google fonts ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*===================== Globals =================*/
*{
 font-family: 'Ubuntu', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
  }

  .highlight {
    background-color: yellow;
    border-radius: 5px;
  }
  
/*===================== Nav 1=================*/
  .navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    background-color: #000000;
    width: 100%;
    position: fixed;
    margin-bottom: 0px; 
    top: 0; 
    left: 0; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    z-index: 2; 
    transition: top 0.5s ease; 
  }
  
 
  body {
    padding-top: 0px;
  }
  

  .logo img {
    margin-top: 5px;
    width: 90px; 
    height: auto;
  }
  
 
  .nav-text1 {
    font-size: 14px;
    color: #ffffff;
  }
  
  
  /*===================== Nav 2 =================*/
  .navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px; 
    background-color: #ffffff;
    width: 100%;
    position: fixed; 
    top: 35px;
    left: 0; 
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: top 0.5s ease;
  }
  
  .navbar2 .logo img {
    width: 90px; 
    height: auto;
  }


  .search-box {
    visibility: hidden; /* Sembunyikan search box secara default */
    opacity: 0;
    display: flex; 
    align-items: center; 
    padding: 8px;
    width: 50%;
    background-color: #F6F7F9;
    color: #A4ADBA;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    transition: opacity 0.3s ease, visibility 0.3s ease 0.3s, border-color 0.3s ease;
  }
  
  .search-box ion-icon {
    margin-right: 8px; 
  }
  
  .search-box input[type="text"] {
    flex-grow: 1; 
    border: none; 
    outline: none;
    background-color: transparent; 
    color: inherit; 
  }
  

  
.search-box input[type="text"]:focus {
    border-color: transparent;
  }

  
  .nav-buttons {
    display: flex;
  }
  
  .nav-buttons button {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5px; 
    font-size: 14px;
    padding: 8px 8px; 
    background-color: transparent;
    color: #545151;
    border: none;
    cursor: pointer;
  }
  
  .nav-buttons button:hover {
    color: #000000;
  }

  .nav-buttons .active-btn {
    color: rgb(209, 205, 205);
  }
  

/*===================== Nav 3 =================*/
.navbar3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: #ffffff;
  width: 100%;
  position: relative; 
  top: 600px; 
  left: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}




.navbar3 .logo img {
  width: 90px;
  height: auto;
}

.navbar3 .nav-buttons3 {
  display: flex;
}

.navbar3 .nav-buttons3 button {

  font-family: 'Ubuntu', sans-serif;
  margin-left: 5px;
  font-size: 14px;
  padding: 8px 8px;
  background-color: transparent;
  color: #8798ec;
  border: none;
  cursor: pointer;
}

.navbar3 .nav-buttons3 button:hover {
  color: #100cff;
}

.navbar3 .nav-buttons3 .active-btn {
  color: #100cff;
  border-bottom: 2px solid blue;
}



/*===================== judul =================*/
.judul-container {
  max-width: 800px; /* Batasi lebar maksimum */
  margin: 50px auto; /* Pusatkan kontainer */
  padding: 50px;
  text-align: center;
}

.judul-container p {
  margin: 20px 0; /* Tambahkan ruang antar paragraf */
  line-height: 1.6; /* Tingkatkan jarak antar baris untuk kenyamanan membaca */
}


.judul-container h1, .judul-container h2, .judul-container p {
  margin: 0px 0; /* Membuat ruang antar elemen */
}

.judul-container h2 {
  margin-bottom: 20px; /* Atur jarak antara h2 dan elemen berikutnya */
}



h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.judul-container h2{
  font-size: 45px;
  color: #677483;
}


.judul-search-box {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 8px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 150px;
  height: 60px;
  background-color: #ffffff;
  color: #A4ADBA;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Menambahkan transition untuk efek transisi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.judul-search-box ion-icon {
  margin-right: 8px;
  font-size: 25px; 
  z-index: 0;
}

.judul-search-box input[type="text"] {
  font-size: 15px;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.judul-search-box input[type="text"]:focus {
  border-color: transparent;
}



/*===================== body isi =================*/
.body-isi {
  width: 100%;
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0); 
  padding-right: 50px; 
  padding-left: 50px;
  padding-bottom: 30px;
}

.body-isi h2 {
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 20px;
  border-left: 2px solid black;
  padding-left: 10px;
}


/*===================== Table isi =================*/
table {
  width: 90%; 
  margin-left: auto; /* Margin kiri otomatis */
  margin-right: auto;
  border-collapse: collapse; 
  table-layout: fixed; 
  margin-bottom: 20px;
}

img.responsive {
  max-width: 100%; 
  margin: auto;
  height: auto; 
  display: block; 
}

th, td {
  border: 1px solid #006aff; 
  text-align: center;
  font-size: 14px;
  padding: 8px; 
}

th {
  background-color: #A4ADBA; 
  color: #000000; 
}

tr:nth-child(even) {
  background-color: #ffffff; 
}

tr:hover {
  background-color: #eaeaea; 
}

img {
  width: 100px; 
  height: auto; 
}


th:nth-child(1), td:nth-child(1) { 
  width: 25%;
}

th:nth-child(2), td:nth-child(2) { 
  width: 25%;
}

th:nth-child(3), td:nth-child(3) { 
  width: 50%; 
}




























  @media (max-width: 764px) {

    .navbar1 {
      padding: 5px 30px;

    }

    .navbar2 {
      padding: 10px 30px;

    }

    .navbar3{
      padding: 10px 30px;

    }


    .nav-buttons {
      display: none; 
    }
  
    .search-box {
      width: 70%; /* Expand search box to fill available space */
      justify-content: center; /* Center the search icon and input field within the search box */
    }
  
    .search-box input[type="text"] {
      width: 70%; /* Optionally adjust the width of the input field within the search box for better aesthetics */
    }

    .judul-search-box {
      width: 100%; /* Expand search box to fill available space */
      justify-content: center; /* Center the search icon and input field within the search box */
    }

    h1 {
      font-size: 30px;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
    }
    
    h2 {
      font-family: 'Poppins', sans-serif;
    }
    
    .judul-container h2{
      font-size: 30px;
      color: #677483;
    }

    .body-isi {
      padding-right: 30px; 
      padding-left: 30px;
    }

    table {
      width: 100%; 
    }

    .body-isi h2 {
      margin-left: 0px;
      margin-bottom: 20px;
      font-size: 20px;
      border-left: 2px solid black;
      padding-left: 10px;
    }
    
  }
  
